{% extends 'base.html' %}

{%block content %}
<center>
    <h2>You searched for: <em>{{ searched }}</em></h2>

    {% if posts %}
        {% for post in posts %}
            <div class="card shadow">
                <h5 class="card-header">@{{ post.poster.username }}<span class="card-header-date"> - {{ post.date_posted }}</span></h5>
                <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|safe }}</p>
                <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-primary">Go to post</a>
                {% if post.author_id == current_user.id %}
                    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-secondary">Edit post</a>
                    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-danger">Delete post</a>
                {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>Sorry, we couldn't find anything for your search term</p>
    {% endif %}
</center>
{% endblock %}
