{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
       {{ message }} 
       <a href="{{ url_for('index') }}" class="alert-link">Go back to home</a>.
    </div>
{% endfor %}

{% if email %}
<h1>Email: {{ email }}!!</h1>
<h1>Password: {{ password }}</h1>
<h2>I found  this info:</h2>
name: {{ user_to_check.name }}<br>
email: {{ user_to_check.email }}<br>
password: {{ user_to_check.password_hash }}<br>
passed: {{ passed }}

<br>
<img src="{{ url_for('static', filename='images/morning.jpg') }}" alt="">
<br><br>
<p id="demo">stuff</p>
<script src="{{ url_for('static', filename='js/myfile.js') }}"></script>

{% else %}
<h1>What's your email and password?</h1>
<br>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    <br>
    {{ form.password_hash.label(class="form-label") }}
    {{ form.password_hash(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-primary") }}

</form>
{% endif %}

{% endblock %}